$main-font: "Montserrat", sans-serif;
$describe-font: "Kaushan Script", sans-serif;
$text-font: 'Roboto', sans-serif;
$main-color-red: rgb(243, 129, 129);
$main-color-yellow: rgb(255, 204, 153);
$light-color: #fff;
$title-color: rgb(51, 51, 51);
$text-color: rgb(153, 153, 153);
$shadow-color: rgb(153, 204, 204);
$icon-color: rgb(252, 227, 138);
$footer-design-color: rgb(255, 153, 153);
$mail-color: rgb(204, 204, 204);
$button-subscribe-color: rgb(149, 225, 211);
$footer-color: rgb(229, 229, 229);