html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Playfair Display', serif;
    }
.container {
    width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    font-size: 0px;
    margin-bottom: 0;
}
.header {
    margin-bottom: 28px;
}
.site-navigation {
    font-size: 0;
    list-style: none;
    padding: 72px 0;
    margin: 0;
    text-align: center;
    }
.site-navigation li a {
        display: block;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        color: #626262;
        text-decoration: none;
    }
.site-navigation li {
        display: inline-block;
    }
.site-navigation li:not(:last-child) {
        margin-right: 100px;
    }
    
.site-navigation a:hover,
.site-navigation a:focus {
        color: #25b4f5;
    }
   
.blog {
    width: 420px;
    display: inline-block;
    margin-right: 60px;
    margin-bottom: 130px;
    }
.blog:nth-child(2n) {
        margin-right: 0;
    }
.blog:nth-last-child(-n+2) {
    margin-bottom: 0px;
}
.foto {
        margin-bottom: 30px;
    }
.signature {
        color: #b4ad9e;
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        margin: 0px;
        padding: 0px;
        margin-bottom: 28px;
        
    }
.h2 {
        margin: 0;
        padding: 0;
        color: #626262;
        font-size: 30px;
        line-height: 36px;
        font-weight: normal;
        margin-bottom: 32px;
    }
.text {
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 24px;
        color: #626262;
    }
.main-section {
    margin-bottom: 52px;
}
.load-more {
        border: 1px solid;
        display: block;
        padding: 20px 33px;
        margin: 0 auto;
        background: white;
        font-family: 'Playfair Display', serif;
        font-size: 20px ;
        line-height: 24px;
        color: #626262;
        font-weight: 400;
        cursor: pointer;
    }
    .load-more:hover,
    .load-more:focus {
        color: #25b4f5;
    }
    .button {
        padding-bottom: 70px;
    }
