@media screen and (min-width: 748px) and (max-width: 941px) {
    .container {
        width: 748px;
    }
    .header {
        height: 700px;
       }
    .main-navigation {
        padding: 40px 40px 152px 40px;
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 0;
    }

    .buttons-navigation {
        margin-bottom: 0;
    }
    .site-logo {
    line-height: 36px;
    } 
    .h2-header {
        font-size: 52px;
    }
    .text-header {
        font-size: 24px; 
        margin-bottom: 36px;
        width: 400px;
    }
    .button-find {
        width: 226px;
    }
    .header-content {
        margin-bottom: 234px;
    }
    .main-content {
        padding-bottom: 40px;
    }
    .describe-section {
        margin-bottom: 36px;
    }
    .partner-box {
        width: 492px;
        height: 500px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
     }
    .partner-item {
        width: 236px;
        margin-bottom: 50px;
    }
    .partner-about {
        padding-left: 10px;
        padding-right: 10px;
    }
    .partner-item:nth-last-child(2n+1) {
        margin-bottom: 0;
    }
    .partner-case {
        margin-bottom: 36px;
    }
    .button-see-more {
        width: 192px;
        height: 40px;
    }
}


@media screen and (min-width: 942px) {
    .container {
        width: 942px;
        margin: 0 auto;
    }
    .header {
        height: 700px;
    }


     .main-navigation {
            display: flex;
            flex-direction: row-reverse;
            padding-top: 48px;
            padding-bottom: 130px;
    }
    .buttons-navigation {
     padding: 0;
     margin: 0;
    }
        .site-logo {
            margin: 0;
            height: 24px;
        }
        .h2-header {
            font-size: 52px;
            margin-bottom: 30px;
        }
        .text-header {
            font-size: 24px; 
            margin-bottom: 30px;
            width: 400px;
        }
        .button-find {
            width: 226px;
        }
        .header-content {
            margin-bottom: 234px;
        }
    .main-content {
        padding-bottom: 75px;
    }
        .describe-section {
            margin-bottom: 36px;
        }
    .partner-item {
        width: 220px;
        margin-bottom: 0;
    }
    .partner-about {
        padding-left: 0;
        padding-right: 0;
    }
    .partner-box {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: space-between;
    } 
    .partner-case {
        margin-bottom: 36px;
    }
    .button-see-more {
        width: 192px;
        height: 40px;
    }

    .lucas {
        order: 1;
    } 
    .bradley2 {
        order: 2;
    }
}  