html {
    box-sizing: border-box;

}
*, *::before, *::after {
    box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
   width: 320px;
   margin: 0 auto;
}
/* HEADER */
.header-photo {
    padding: 0;
    background: #000;
    background-image: url(../img/header-foto-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 540px;
}
.main-navigation{
    height: 192px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 32px;
}
.log-in,
.sing-up {
    padding-top: 6px;
    color: #fff;
    display: inline-block;
    width: 90px;
    height: 36px;
    border: 2px solid transparent;
    background-color: rgba(26, 25, 21, 0);
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: auto;
}
 

.buttons-navigation {
text-align: center;
height: 56px;
padding-top: 20px;
}
.log-in:hover,
.sing-up:hover {
    border-color: rgb(255, 255, 255);

}
.site-logo {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.05em;
}

.h2-header, 
.text-header {
    color: #fff;
    text-align: center;

}
.h2-header {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.text-header {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 18px;
    width: 220px;
 }

  
.button-find {
    margin: 0;
    padding: 0;
    display: block;
    border-radius: 20px;
    background-color: rgb(255, 78, 80);
    color: #fff;
    width: 280px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    padding-top: 12px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    cursor: pointer;
}
.button-find:hover {
    background-color: rgb(250, 50, 53);
}
.header {
    margin-bottom: 64px;
}

/* SECTION PARTNERS */
.describe-section {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 18px;
    color: rgb(51, 51, 51);
}
.partner-box {
    margin: 0;
    padding: 0;
}
.partner-item {
  list-style: none;
  /* margin: 0 auto; */
  width: 320px;
  margin-bottom: 30px;
}
.partner-item:last-child {
    margin-bottom: 0;
}
.partner-photo-box {
    position: relative;
    width: 122px;
    height: 122px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.partner-item a {
    display: block;
    text-decoration: none;
}
.partner-photo {
    width: 122px;
    height: 122px;
    border-radius: 120px;
    margin: 0 auto;
  }

.ellipse {
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    width: 37px;
    height: 37px;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
  }
  .partner-name, 
  .partner-about {
    margin: 0;
    padding: 0;
    text-align: center;
  }
.partner-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 16px;
    color: rgb(51, 51, 51);
}
.partner-about {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.2;
    color: #666666;
    letter-spacing: 0;
    padding-left: 51px;
    padding-right: 51px;
}
.ellipse-tv {
    background-color: rgb(255, 78, 80);
    background-image: url(../img/shape-tv.png);
}

.ellipse-lab {

    background-color: rgb(255, 165, 7);
    background-image: url(../img/shape-lab.png);
  }
  

  .ellipse-coffee {
   background-color: rgb(28, 215, 173);
   background-image: url(../img/shape-coffee.png);

  }
  .ellipse-telegram {
   background-color: rgb(78, 115, 219);
   background-image: url(../img/shape-telegram.png);
  }
  .partner-case {
      margin-bottom: 30px;
  }
  /* LAST BUTTON */
  .button-see-more {
      display: block;
      margin: 0 auto;
      padding: 0;
      border: none;
      background: transparent;
      border: 2px solid rgb(255, 78, 80);
      border-radius: 20px;
      background-color: rgb(255, 255, 255);
      width: 280px;
      height: 40px;
      text-align: center;
      color: #ff6666;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.2;
      outline: none;
  }
  .button-see-more:hover {
      color: #fff;
      background-color: rgb(255, 78, 80);
      cursor: pointer;
  }
  .see-more {
      padding-bottom: 56px;
  }
  