html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
:root {
    --height-footer: 88px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1110px;
    background-color: #ffffff;

}
.site-logo {
    display: block;
    font-family: 'Roboto Light', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    font-size: 30px;
    line-height: 32px;
    color: #666666;
    letter-spacing: -0.02em;
    }

   .site-logo::first-letter {
    font-family: 'Roboto Black', sans-serif;
    color: #33cc99;  
   }
   .site-navigation {
       margin: 0;
       padding: 10px 0 0 0; 
       list-style: none;
       text-transform: uppercase;
       float: right;
   }
   .site-navigation li a {
       display: block;
       text-decoration: none;
       font-family: 'Open Sans', sans-serif;
       font-weight: bold;
       font-size: 14px;
       line-height: 11px;
       color: #000000;
       letter-spacing: -0.02em;
   }
   .site-navigation a:focus,
   .site-navigation a:hover {
       color: #33cc99;
   }
   .site-navigation li {
       float: left;
       margin-right: 32px;
   }
   .site-navigation li:last-child {
       padding-right: 0px;
   }
   
   nav.container {
       padding: 36px 0 31px 0;
       height: auto;
       overflow: hidden;
       }
   .h2 {
    margin: 0;
    font-family: 'Roboto Black', sans-serif;
    font-size: 48px;
    line-height: 32px;
    color: #666666;
    letter-spacing: -0.02em;
    text-align: center;
    text-transform: uppercase;
       }
   .h2::after {
       display: block;
       width: 164px;
       height: 7px;
       content: '';
       background-color: #66cc99;
       margin: 0 auto;
       margin-top: 40px;
   }
.title-new-collection {
    margin-bottom: 80px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.slider {
    margin: 0;
    padding: 0;
    height: 600px;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 2, 0.52), rgba(0, 0, 2, 0.52)), 
    url(../img/slide4.png);
    position: relative;
  }
  .slider li {
    margin: 0;
    padding: 0;
    height: 600px;
    width: 100%;
      display: block;
    list-style: none;
    position: relative;
  }
  .slider-box {
    height: 600px;
   background-color: rgb(50, 50, 50);
             }
   
    .slider img {
        height: 600px;
        width: 100%;
        object-fit: cover;
    }
    .arrows-box {
        width: 1110px;
        height: 600px;
        position: relative;
        background: transparent;
        margin: auto;
    }
    .arrows {
        height: 104px;
        width: 104px;
        background-color: rgba(78, 198, 171, 0.651);
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        position: absolute;
        z-index: 5;
            }

    .arrow-prev {
        background-image: url(../img/arrow-prev.png);
        top: 225px;
        left: 0;
      }
      .arrow-next{
          background-image: url(../img/arrow-next.png);
        top: 225px;
        right: 0;  
      }
      .arrow-prev:hover,
      .arrow-next:hover {
       background-color: rgb(78, 198, 171);
       cursor: pointer;
      }
      
.new-collection {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    height: auto;
    overflow: hidden;

  }

  .product-foto {
      width: 255px;
      height: 322px;
      position: absolute;
      z-index: 2;
      top: 0px;
      left: 0px;

      
           }
  div.product-name-price {
      margin: 0;
      padding: 0;
      width: 255px;
      height: 40px;
      background-color: #333333;
      overflow: hidden;
      position: absolute;
      left: 0px;
      bottom: 0px;
      z-index: 5;
  }
  .product-name {
      float: left;
      height: 40px;
  }
  .product-price {
      height: 40px;
      float: right;
      width: 54px;
      background: rgba(255, 255, 255, 0.44);
  }
  
.product-name, 
.product-price {
    font-family: 'Roboto Black', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-left: 13px;
    text-transform: uppercase;

}
.product-case:hover .product-name-price {
    background-color: rgb(26, 188, 156);
    }
.product-case:hover .options-case {
    z-index: 2;
}

 
      
.product-case {
    float: left;
    height: 322px;
    width: 255px;
    margin-right: 30px;
    margin-bottom: 0;
    cursor: pointer;
    object-fit: cover;
    position: relative;
    z-index: 1;

}
.product-name-price a {
    display: block;
    height: 40px;
}

.product-case:last-child {
    margin-right: 0px;
}
    
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  .new-collection-box {
        padding-bottom: 100px;
        padding-top: 100px;

 
  }
  .fon {
    background: rgb(233, 240, 253);

  }

.footer-page {
    height: var(--height-footer);
    background-color: #330000;
    text-align: center;
    background-color: rgb(50, 50, 50);
    margin: 0;
    padding: 0;
}
.copyright {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: var(--height-footer);
    letter-spacing: -0.02em; 
    font-weight: regular;
    color: #ffffff;
    margin: 0;
    padding: 0;
}
.design-name {
    color: #33cc99;
    text-decoration: none;
    display: inline-block;

}
.design-name:hover {
    cursor: pointer;
}
.title-slider {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-family: "Roboto";
    color: #ffffff;
    text-transform: uppercase;
    line-height: 82px;
    letter-spacing: -0.02em; 
    font-weight: bold;
}
.slider-case {
    margin: 0;
    padding: 0;
}
.title-slider-box{
    display: block;
    position: absolute;
    top: 200px;
    left: 185px;
    z-index: 7;
    width: 750px;
    height: auto;

}
.describ-slider {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: "Roboto";
    color: #ffffff;
    text-transform: uppercase;
    line-height: 54px;
    letter-spacing: -0.02em; 
    font-weight: 300; 
}
.option-item {
    margin: 0;
    padding: 0;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    list-style: none;
    height: 50px;
    width: 50px;
    border: 1px solid;
    border-color: #ffffff;
    
}

.button-option {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
}
.like {
background-image: url(../img/heart.png);
    }
.arrow {
background-image: url(../img/arrow.png);
        }
.clock {
background-image: url(../img/clock.png);
            }
  
.option-item-cart {
    display: inline-block;
    list-style: none;
    width: 166px;
    height: 50px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: #333333;
}

.options-case {
    margin: 0;
    padding: 0;
    border-width: 10px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.55);
    width: 255px;
    height: 283px;
position: relative;
position: absolute;
z-index: -1;
}
.option-box {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 90px;
    left: 45px;
}
.add-to-cart {
    display: inline-block;
    text-align: right;
    color: #ffffff;
    text-transform: uppercase;
    float: right;
    margin-top: 8px;
    margin-right: 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: -0.02em; 
    color: #ffffff;
}
.img-cart {
    display: inline-block;
    float: left;
    margin-top: 9px;
    margin-left: 10px;
}
 .option-item:hover,
 .option-item-cart:hover {
    border-color:  rgb(26, 188, 156);
    background-color:  rgb(26, 188, 156); 
 }

  
  
