html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1110px;
    background-color: #ffffff;

}
.site-logo {
    display: block;
    font-family: 'Roboto Light', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    font-size: 30px;
    line-height: 32px;
    color: #666666;
    letter-spacing: -0.02em;
    }

   .site-logo::first-letter {
    font-family: 'Roboto Black', sans-serif;
    color: #33cc99;  
   }
   .site-navigation {
       margin: 0;
       padding: 10px 0 0 0; 
       list-style: none;
       text-transform: uppercase;
       float: right;
   }
   .site-navigation li a {
       display: block;
       text-decoration: none;
       font-family: 'Open Sans', sans-serif;
       font-weight: bold;
       font-size: 14px;
       line-height: 11px;
       color: #000000;
       letter-spacing: -0.02em;
   }
   .site-navigation a:focus,
   .site-navigation a:hover {
       color: #33cc99;
   }
   .site-navigation li {
       float: left;
       margin-right: 32px;
   }
   .site-navigation li:last-child {
       padding-right: 0px;
   }
   .header {
    margin-bottom: 71px;
   }
   nav.container {
       padding: 36px 0 36px 0;
       height: auto;
       overflow: hidden;
       }
   .h2 {
    margin: 0;
    font-family: 'Roboto Black', sans-serif;
    font-size: 48px;
    line-height: 32px;
    color: #666666;
    letter-spacing: -0.02em;
    text-align: center;
       }
   .h2::after {
       display: block;
       width: 164px;
       height: 7px;
       content: '';
       background-color: #66cc99;
       margin: 0 auto;
       margin-top: 40px;
   }
.title-featured {
    margin-bottom: 92px;
}
.latest-news {
    margin-bottom: 81px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.featured {
      list-style: none;
      margin: 0;
      padding: 0;
      height: auto;
    overflow: hidden;
  }
  .product-foto {
      width: 255px;
      height: 283px;
      background-color: rgb(233, 240, 253);

  }
  div.product-name-price {
      margin: 0;
      padding: 0;
      width: 255px;
      height: 40px;
      background-color: #333333;
      height: auto;
      overflow: hidden;
  }
  .product-name {
      float: left;
      height: 40px;
  }
  .product-price {
      height: 40px;
      float: right;
      width: 54px;
      background: rgba(255, 255, 255, 0.44);
  }
  
.product-name, 
.product-price {
    font-family: 'Roboto Black', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-left: 13px;
    text-transform: uppercase;

}
.product-case:hover .product-name-price {
    background-color: #33cc99;
    }
.product-case {
    float: left;
    height: auto;
    overflow: hidden;
    margin-right: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}
.product-case a {
    display: block;
}
.product-case:nth-child(4) {
    margin-right: 0px;
}
.product-case:nth-child(n+5) {
    margin-bottom: 0px;
}
.product-case:last-child {
    margin-right: 0px;
}
    
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  .featured-products {
      margin-bottom: 103px;
  }
  .latest-news {
    margin-bottom: 119px;
  }
  .news {
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
    overflow: hidden;
      }
.latest-news-box {
    padding-bottom: 81px;
}
.news-item {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 350px;
    height: auto;
}
.news-item:not(:last-child) {
    margin-right: 30px;
}
.h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: semibold;
    font-size: 18px;
    line-height: 26px;
    color: #666666;
    letter-spacing: -0.02em;
    margin: 0;
    padding: 0;
    margin-bottom: 23px;
}
.text-news {
    font-family: 'Open Sans', sans-serif;
    font-weight: regular;
    font-size: 14px;
    line-height: 26px;
    color: #666666;
    letter-spacing: -0.02em; 
    margin: 0;
    padding: 0; 
    margin-bottom: 19px;
}
.news-foto {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.h5::after {
    display: block;
    width: 136px;
    height: 3px;
    content: '';
    background-color: #66cc99;
    margin: 0;
    margin-top: 13px;
}

.button-read-more {
    display: inline-block;
    color: #ffffff;
    background-color: #66cc99;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
margin: 0;
padding: 12px 40px 12px 40px;
border-radius: 3px;
}
.button-read-more:hover {
    background-color: #add12a;
    cursor: pointer;
}
